<footer class="footer">
    <div class="footer__left">
        <div class="container">
            <div class="footer__left-contacts">
                <p class="footer__left-contacts__heading heading3">Контакты</p>
                <ul class="footer__left-contacts__list">
                    <li class="footer__left-contacts__list-item">
                        <p> г.Екатеринбург, проспект Ленина 8, 4 этаж</p>
                    </li>
                    <li class="footer__left-contacts__list-item">
                        <a href="mailto:hello@roiburo.ru" class="link">hello@roiburo.ru</a>
                    </li>
                    <li class="footer__left-contacts__list-item">
                        <a href="tel:+73432264369" class="link">+7 (343) 226-43-69</a>
                    </li>
                </ul>
            </div>
            <div class="footer__left-services">
                <p class="footer__left-services__heading heading3">Услуги</p>
                <ul class="footer__left-services__list">
                    <li class="footer__left-services__list-item">
                        <a href="#" class="link">SEO-продвижение сайтов</a>
                    </li>
                    <li class="footer__left-services__list-item">
                        <a href="#" class="link">Контекстная Реклама</a>
                    </li>
                    <li class="footer__left-services__list-item">
                        <a href="#" class="link">SMM</a>
                    </li>
                    <li class="footer__left-services__list-item">
                        <a href="#" class="link">Продвижение на маркетплейсах</a>
                    </li>
                    <li class="footer__left-services__list-item">
                        <a href="#" class="link">Разработка фирменного стиля</a>
                    </li>
                    <li class="footer__left-services__list-item">
                        <a href="#" class="link">Управление репутацией (SERM)</a>
                    </li>
                    <li class="footer__left-services__list-item">
                        <a href="#" class="link">Mobile</a>
                    </li>
                    <li class="footer__left-services__list-item">
                        <a href="#" class="link">CRM-маркетинг</a>
                    </li>
                </ul>
            </div>
            <div class="footer__left-bottom">
                <p>ООО «Бюро Эффективных Решений РОИ» </p>
                <a href="#" class="link">Политика конфиденциальности</a>
            </div>
        </div>
    </div>

    <div class="footer__right">
        <p class="footer__right-heading heading3">Давайте обсудим ваш проект!</p>
        <form action="#" class="callback-form footer__right-form">
            <div class="callback-form__input-container communication-method">
                <p class="communication-method__text">Связаться со мной по</p>
                <div class="communication-method__choice">
                    <div class="communication-method__choice-head">
                        <p>Телефону</p>
                        <img src="./src/images/svg/triangle.svg" alt="">
                    </div>
                    <div class="communication-method__choice-dropdown">
                        <ul class="communication-method__choice-dropdown__list">
                            <li class="communication-method__choice-dropdown__list-item">
                                <button>E-mail</button>
                            </li>
                            <li class="communication-method__choice-dropdown__list-item">
                                <button>Телефон</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="callback-form__input-container">
                <input type="text" placeholder="Как вас зовут?" class="callback-form__input">
            </div>

            <div class="callback-form__input-container">
                <input type="text" placeholder="+7 (    )    -    - " data-phone-pattern class="callback-form__input">
            </div>

            <button class="callback-form__btn defalut-btn arrow-btn">
                <span>Отправить</span>
            </button>
            <p class="callback-form__policy">Нажимая на кнопку «Отправить» вы соглашаетесь с политикой
                конфиденциальности</p>
        </form>

        <img src="./src/images/svg/footer-logo.svg" alt="" class="footer__right-logo desktop">
    </div>
</footer>
<script defer src="./src/js/bodymovin.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.0/lottie.min.js"></script>
<script defer src="./src/js/main.js"></script>