<header class="header">
    <div class="header__menu">
        <div class="container">
            <nav class="header__menu-nav">
                <ul class="header__menu-list">
                    <li class="header__menu-list__item acc-item">
                        <button class="header__menu-list__item-head acc-head">
                            <span>Услуги</span>
                            <img src="./src/images/svg/triangle.svg" alt="">
                        </button>
                        <div class="header__menu-list__item-content acc-content">
                            <ul class="header__menu-sublist">
                                <li class="header__menu-sublist__item">
                                    <a href="#" class="header__menu-sublist__item-link">Создание сайта</a>
                                </li>
                                <li class="header__menu-sublist__item">
                                    <a href="#" class="header__menu-sublist__item-link">SEO продвижение</a>
                                </li>
                                <li class="header__menu-sublist__item">
                                    <a href="#" class="header__menu-sublist__item-link">Контекстная реклама</a>
                                </li>
                                <li class="header__menu-sublist__item">
                                    <a href="#" class="header__menu-sublist__item-link">Айдентика</a>
                                </li>
                                <li class="header__menu-sublist__item">
                                    <a href="#" class="header__menu-sublist__item-link">SMM</a>
                                </li>
                                <li class="header__menu-sublist__item">
                                    <a href="#" class="header__menu-sublist__item-link">CRM маркетинг</a>
                                </li>
                                <li class="header__menu-sublist__item">
                                    <a href="#" class="header__menu-sublist__item-link">Управление репутацией (SERM)</a>
                                </li>
                                <li class="header__menu-sublist__item">
                                    <a href="#" class="header__menu-sublist__item-link">Продвижение на маркетплейсах</a>
                                </li>
                                <li class="header__menu-sublist__item">
                                    <a href="#" class="header__menu-sublist__item-link">Mobile</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__menu-list__item">
                        <a href="#" class="header__menu-list__item-link">Кейсы</a>
                    </li>
                    <li class="header__menu-list__item">
                        <a href="#" class="header__menu-list__item-link">О компании</a>
                    </li>
                    <li class="header__menu-list__item">
                        <a href="#" class="header__menu-list__item-link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <a href="#" class="header__logo">
            <img src="./src/images/svg/white-logo.svg" alt="">
        </a>
        <button class="header__phone">+7 (343) 226-43-69</button>
        <button class="header__burger">
            <svg width="16" height="1" viewBox="0 0 16 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="16" height="1" fill="white" />
            </svg>

            <svg width="16" height="1" viewBox="0 0 16 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="16" height="1" fill="white" />
            </svg>
        </button>
    </div>

</header>