.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;

    & * {
        background-color: transparent;
    }

    #home {
        position: absolute;
        right: 35rem;
        top: -1rem;
        width: 70.4rem;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    #digital {
        position: absolute;
        left: 0;
        top: 4rem;
        width: 18.4rem;
        height: 8.8rem;
        object-fit: contain;
        z-index: -1;
    }

    #seo {
        position: absolute;
        top: 0;
        left: 34.7rem;
        width: 122.6rem;
        height: 100%;
    }

    &.white-section {
        .hero__right {
            border-color: $black;

            &-list {
                &__item {
                    &-description {
                        color: #1a1a1b;
                    }
                }
            }
        }
    }

    &.main-hero {
        .hero__left-onboarding {
            position: absolute;
            left: 0;
            top: 0;
            width: 85rem;
            visibility: hidden;
            opacity: 0;
            transform: translateY(-100%);
            animation: scrollUp 5s ease;

            & > ul {
                li {
                    opacity: 0;

                    &:not(:last-child) {
                        margin-bottom: 5.6rem;
                    }

                    &:nth-child(1) {
                        opacity: 1;
                        animation: opacityChange1 5s ease;
                        animation-delay: 1s;
                    }

                    &:nth-child(2) {
                        opacity: 0.1;
                        animation: opacityChange2 5s ease;
                        animation-delay: 1s;
                    }

                    &:nth-child(3) {
                        animation: opacityChange3 5s ease;
                        animation-delay: 1s;
                    }

                    &:nth-child(4) {
                        animation: opacityChange4 5s ease;
                        animation-delay: 1s;
                    }

                    &:nth-child(5) {
                        animation: opacityChange5 5s ease;
                        animation-delay: 1s;
                    }

                    @keyframes opacityChange1 {
                        0% {
                            opacity: 1;
                        }
                        20% {
                            opacity: 0;
                        }
                        40% {
                            opacity: 0;
                        }
                        60% {
                            opacity: 0;
                        }
                        80% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 0;
                        }
                    }

                    @keyframes opacityChange2 {
                        0% {
                            opacity: 0.1;
                        }
                        20% {
                            opacity: 1;
                        }
                        40% {
                            opacity: 0;
                        }
                        60% {
                            opacity: 0;
                        }
                        80% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 0;
                        }
                    }

                    @keyframes opacityChange3 {
                        0% {
                            opacity: 0;
                        }
                        20% {
                            opacity: 0.1;
                        }
                        40% {
                            opacity: 1;
                        }
                        60% {
                            opacity: 0;
                        }
                        80% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 0;
                        }
                    }

                    @keyframes opacityChange4 {
                        0% {
                            opacity: 0;
                        }
                        20% {
                            opacity: 0;
                        }
                        40% {
                            opacity: 0.1;
                        }
                        60% {
                            opacity: 1;
                        }
                        80% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 0;
                        }
                    }

                    @keyframes opacityChange5 {
                        0% {
                            opacity: 0;
                        }
                        20% {
                            opacity: 0;
                        }
                        40% {
                            opacity: 0;
                        }
                        60% {
                            opacity: 0.1;
                        }
                        80% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                }
            }

            @keyframes scrollUp {
                0% {
                    transform: translateY(0%);
                    opacity: 1;
                    visibility: visible;
                }
                20% {
                    transform: translateY(-22%);
                    opacity: 1;
                    visibility: visible;
                }
                40% {
                    transform: translateY(-44%);
                    opacity: 1;
                    visibility: visible;
                }
                60% {
                    transform: translateY(-66%);
                    opacity: 1;
                    visibility: visible;
                }
                80% {
                    transform: translateY(-88%);
                    opacity: 1;
                    visibility: visible;
                }
                100% {
                    transform: translateY(-110%);
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        .hero__heading {
            animation: headingAppearing 5s ease;

            @keyframes headingAppearing {
                0% {
                    transform: translateY(100%);
                    opacity: 0;
                    visibility: hidden;
                }
                20% {
                    transform: translateY(100%);
                    opacity: 0;
                    visibility: hidden;
                }
                40% {
                    transform: translateY(100%);
                    opacity: 0;
                    visibility: hidden;
                }
                60% {
                    transform: translateY(100%);
                    opacity: 0;
                    visibility: hidden;
                }
                80% {
                    transform: translateY(100%);
                    opacity: 0;
                    visibility: hidden;
                }
                100% {
                    transform: translateY(0%);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .hero__sertificates {
            animation: sertificateAppearing 5s ease;

            @keyframes sertificateAppearing {
                0% {
                    opacity: 0;
                }
                20% {
                    opacity: 0;
                }
                40% {
                    opacity: 0;
                }
                60% {
                    opacity: 0;
                }
                80% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        .hero__right {
            animation: heroRightAppearing 5s ease;

            @keyframes heroRightAppearing {
                0% {
                    opacity: 0;
                }
                20% {
                    opacity: 0;
                }
                40% {
                    opacity: 0;
                }
                60% {
                    opacity: 0;
                }
                80% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }

        .request-btn {
            animation: requestBtnAppearing 5s ease;

            @keyframes requestBtnAppearing {
                0% {
                    opacity: 0;
                }
                20% {
                    opacity: 0;
                }
                40% {
                    opacity: 0;
                }
                60% {
                    opacity: 0;
                }
                80% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__left {
        width: 85rem;
        position: relative;
    }

    &__heading {
        margin-bottom: 1.2rem;
    }

    &__description {
        margin-bottom: 4rem;
        font-size: 2.4rem;
        line-height: 3.4rem;
        color: #1a1a1b;
    }

    &__sertificates {
        margin-top: 4rem;
        display: flex;

        &-item {
            &:not(:last-child) {
                margin-right: 0.8rem;
            }

            &__link {
                padding-left: 1.6rem;
                padding-right: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 8rem;
                border: 1px solid #989899;
                border-radius: 2.4rem;

                img {
                    height: 6.1rem;
                    width: auto;
                    object-fit: contain;
                }
            }
        }
    }

    &__right {
        padding-left: 3.2rem;
        width: 30rem;
        border-left: 1px solid #f4f4f4;

        &-list {
            &__item {
                &:not(:last-child) {
                    margin-bottom: 1.6rem;
                }

                &-heading {
                    font-weight: 500;
                    font-size: 2.4rem;
                    line-height: 2.9rem;
                }

                &-description {
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: #f4f4f4;
                }
            }
        }
    }

    .request-btn {
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (max-width: 62em) {
        padding-top: 28.5rem;
        padding-bottom: 30.9rem;
        display: block;
        height: auto;

        #home {
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        #digital {
            top: 5rem;
            width: 15rem;
            height: 6rem;
        }

        #seo {
            left: -31.3rem;
            width: 139.4rem;
            height: 100%;
        }

        &.main-hero {
            .hero__left-onboarding {
                width: 100%;
            }
        }

        &__content {
            align-items: flex-start;
            flex-direction: column;
        }

        &__left {
            margin-bottom: 4rem;
            width: 100%;
        }

        &__right {
            padding-left: 2.4rem;
            width: 100%;
            &-list {
                &__item {
                    &:not(:last-child) {
                        margin-bottom: 1.6rem;
                    }

                    &-heading {
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                    }

                    &-description {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }
            }
        }

        .request-btn {
            bottom: 4rem;
        }
    }

    @media (max-width: 47.99em) {
        padding-top: 37.7rem;
        padding-bottom: 37.7rem;

        #home {
            right: -26rem;
            width: 126.8rem;
            height: 162.4rem;
        }

        #digital {
            top: 4rem;
            right: 0;
            left: auto;
            width: 27.6rem;
            height: 13.2rem;
        }

        #seo {
            left: -73rem;
            width: 221.2rem;
            height: 100%;
        }

        &__heading {
            margin-bottom: 2.4rem;

            br {
                display: none;
            }
        }

        &__description {
            margin-bottom: 3.2rem;
            font-size: 3.2rem;
            line-height: 4.4rem;
        }

        &__left {
            margin-bottom: 9.6rem;
        }

        &__sertificates {
            margin-top: 3.2rem;

            &-item {
                &:not(:last-child) {
                    margin-right: 1.6rem;
                }

                &__link {
                    padding-left: 2.2rem;
                    padding-right: 2.2rem;
                    height: 12rem;
                    border-radius: 4.8rem;

                    img {
                        height: 9rem;
                    }
                }
            }
        }

        &__right {
            padding-left: 4.8rem;

            &-list {
                &__item {
                    &:not(:last-child) {
                        margin-bottom: 3.2rem;
                    }

                    &-heading {
                        font-size: 3.2rem;
                        line-height: 4.4rem;
                    }

                    &-description {
                        font-size: 2.8rem;
                        line-height: 4rem;
                    }
                }
            }
        }

        .request-btn {
            bottom: 8rem;
            width: max-content;
        }
    }
}
