.tariffs {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
        display: flex;
        gap: 2.4rem;
    }

    &__item {
        width: 39.2rem;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;

        &:hover {
            .tariffs__item-btn {
                border-color: #fe014d;
                background-color: transparent;
                color: $white;
            }
        }

        &-type {
            margin-bottom: 0.4rem;
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 1.8rem;
            color: $green;
        }

        &-heading {
            margin-bottom: 1.6rem;
        }

        &-description {
            margin-bottom: 1.6rem;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #f4f4f4;
        }

        &-options {
            margin-bottom: 4rem;
            display: flex;

            &__item {
                padding: 0px 0px 0px 1.2rem;
                border-left: 1px solid $white;

                &:not(:last-child) {
                    margin-right: 2.4rem;
                }

                p {
                    &:first-child {
                        font-weight: 500;
                        font-size: 1.5rem;
                        line-height: 2.1rem;
                        color: #f4f4f4;
                    }

                    &:last-child {
                        font-size: 1.3rem;
                        line-height: 1.8rem;
                        color: #989899;
                    }
                }
            }
        }

        &-advantages {
            margin-bottom: 4rem;

            &__item {
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                display: flex;
                align-items: center;
                gap: 0.8rem;
                border-top: 1px solid #1a1a1b;

                &:last-child {
                    border-bottom: 1px solid #1a1a1b;
                }

                &.plus {
                    p {
                        color: #c6c6c6;
                    }
                }

                &.minus {
                    p {
                        color: #3d3d3e;
                    }
                }

                img {
                    width: 1.6rem;
                    height: 1.6rem;
                    object-fit: contain;
                }

                p {
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                }
            }
        }

        &-btn {
            margin-top: auto;
            width: 100%;
            border: 1px solid $white;
            transition-property: border-color, background-color, color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    @media (max-width: 62em) {
        padding-top: 12rem;
        padding-bottom: 12rem;
        display: block;
        min-height: auto;

        &__list {
            margin: 0 auto;
            width: 47.4rem;
            flex-direction: column;
            gap: 12rem;
        }

        &__item {
            width: 100%;
        }
    }

    @media (max-width: 47.99em) {
        padding-top: 24rem;
        padding-bottom: 24rem;

        &__list {
            width: 100%;
            gap: 24rem;
        }

        &__item {
            &-type {
                margin-bottom: 0.8rem;
                font-size: 2.6rem;
                line-height: 3.6rem;
            }

            &-heading {
                margin-bottom: 3.2rem;
            }

            &-description {
                margin-bottom: 6.4rem;
                font-size: 3rem;
                line-height: 4.2rem;
            }

            &-options {
                margin-bottom: 6.4rem;

                &__item {
                    padding-left: 2.4rem;

                    &:not(:last-child) {
                        margin-right: 4.8rem;
                    }

                    p {
                        &:first-child {
                            font-size: 3rem;
                            line-height: 4.2rem;
                        }

                        &:last-child {
                            font-size: 2.6rem;
                            line-height: 3.6rem;
                        }
                    }
                }
            }

            &-advantages {
                margin-bottom: 6.4rem;

                &__item {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    gap: 1.6rem;

                    img {
                        width: 4rem;
                        height: 4rem;
                    }

                    p {
                        font-size: 3rem;
                        line-height: 4rem;
                    }
                }
            }
        }
    }
}
